#jinja2: trim_blocks: True, lstrip_blocks: True
{{ ansible_managed | comment }}
# https://github.com/grafana/loki/blob/master/docs/clients/promtail/configuration.md#client_config

server:
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /tmp/positions.yaml

clients:
  - url: "{{ loki_url }}/loki/api/v1/push"
    basic_auth:
      username: "{{ loki_basicauth_username }}"
      password: "{{ loki_basicauth_password }}"

scrape_configs:
  - job_name: journal
    journal:
      max_age: 12h
      labels:
        job: systemd-journal
        env: {{ promtail_env }}
        host: {{ inventory_hostname }}
    relabel_configs:
      - source_labels: ['__journal__systemd_unit']
        target_label: 'unit'
  - job_name: system
    static_configs:
    - targets:
       - localhost
      labels:
        job: varlogs
        env: {{ promtail_env }}
        host: {{ inventory_hostname }}
        __path__: /var/log/*.log
  - job_name: more-system
    static_configs:
    - targets:
       - localhost
      labels:
        job: more-varlogs
        env: {{ promtail_env }}
        host: {{ inventory_hostname }}
        __path__: /var/log/*/*.log
