{{ ansible_managed | comment }}

[Unit]
Description=promtail
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/bin/promtail \
  --config.file={{ promtail_config_dir }}/promtail.yml

SyslogIdentifier=promtail
Restart=always

[Install]
WantedBy=multi-user.target
